<div class="container">
  <h1>Dashboard</h1>
  <hr>
  <p>&nbsp;</p>
</div>
<div class="container overflow-hidden px-4 text-center">
  <h2>Upload Monitor</h2>
  <p>&nbsp;</p>
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 alert alert-light">
        <strong>Remaining</strong> <br>
        <%= @counters[:waiting]%>
      </div>
    </div>
    <div class="col">
      <div class="p-3 alert alert-light">
        <strong>Downloaded</strong> <br>
        <%= @counters[:downloaded]%>
      </div>
    </div>
    <div class="col">
      <div class="p-3 alert alert-primary">
        <strong>Uploading</strong> <br>
        <%= @counters[:uploading]%>
      </div>
    </div>
    <div class="col">
      <div class="p-3 alert alert-light">
        <strong>In Process</strong> <br>
        <%= @counters[:in_progress]%>
      </div>
    </div>
  </div>
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 alert alert-light">
        <strong>Moving to Folder</strong> <br>
        <%= @counters[:success]%>
      </div>
    </div>
    <div class="col">
      <div class="p-3 alert alert-success">
        <strong>Completed</strong> <br>
        <%= @counters[:completed]%>
      </div>
    </div>
    <div class="col">
      <div class="p-3 alert alert-danger">
        <strong>Failed</strong> <br>
        <%= @counters[:failed]%>
      </div>
    </div>
  </div>
</div>
<script>
  setTimeout(function(){
   window.location.reload(1);
}, 60000);
</script>
